<div class="warp">
    <div class="glasswarp" id="glasswarp">


      <div class="like-button">
          <div class="heart-bg" onclick="heartIcon()">
              <div class="heart-icon"></div>
          </div>
          <div class="likes-amount" style="color: black;">0</div>
          <i class="fa-solid fa-bookmark" style="color: rgb(171, 171, 171); margin-top: 2px; margin-bottom: 10px; font-size: 1.3rem;"></i>
      </div>
        

      <div class="buttons">
        <button href="#" class="top_btn" id="search_input" onclick="show()">
          ...
        </button>
        <ul class="hide_bar" id="search_history">
          <li><a href="" onclick="next(event)" style="color: white;">수정</a></li>
          <li>삭제</li>
        </ul>
      </div>

      <div class="bigcontainer">
        <!-- 본문 -->
        <div class="container">
          <h1 class="tittle">Channel 이 공개한 22/23 Cruze Collaction</h1>
        </div>

        <div class="photo">
          <div class="image">
            <img src="/static/img/다운로드.jpeg" alt="" class="image1" />
          </div>
        </div>

      <div class="text">
        <div class="text12">
          <p class="text123">
            믜에에에에에에에엥믜에에에에에에에엥믜에에에에에에에엥믜에에에에에에에엥믜에에에에에에에엥
            믜에에에에에에에엥믜에에에에에에에엥믜에에에에에에에엥믜에에에에에에에엥믜에에에에에에에엥믜에에에에에에에엥
            믜에에에에에에에엥믜에에에에에에에엥믜에에에에에에에엥믜에에에에에에에엥믜에에에에에에에엥믜에에에에에에에엥
            믜에에에에에에에엥믜에에에에에에에엥믜에에에에에에에엥믜에에에에에에에엥믜에에에에에에에엥믜에에에에에에에엥
            믜에에에에에에에엥믜에에에에에에에엥믜에에에에에에에엥믜에에에에에에에엥
          </p>
        </div>
      </div>
    


      <!-- 댓글 -->
      <div class="comment_input">
        <input
          type="text"
          class="comment_input1"
          placeholder="댓글을 입력하세요..."
          id="comment_input1"
        />
        <button
          class="comment_input_btn"
          onclick="writecomment(event);getfire()"
        >
          등록
        </button>

        <!-- 홈페이지가 새로고침 또는 랜딩이 될떄마다 뿌려주는 함수는 getfire이다 팀원들이 뿌려주는 먼가를만들면 거기에 넣어주기만하면됨 -->
      </div>

      <div class="comment_list" id="comment_list">
      </div>
    </div>
  </div>
</div>
