<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/board.css">
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="https://kit.fontawesome.com/66c674ac51.js" crossorigin="anonymous"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-firestore.js"></script>
    <title>Document</title>
</head>
<body> -->

    <div class="warp">
        <div class="glasswarp">

        <div class="heart-btn1">
            
            <!-- <div class="content1">
                <span class="heart1"></span>
                <span class="tex1"></span>
                <span class="numb1"></span>
            </div> -->
            <div class="like-button">
                <div class="heart-bg" onclick="heartIcon()">
                    <div class="heart-icon"></div>
                </div>
                <div class="likes-amount">0</div>
            </div>


            <i class="fa-solid fa-bookmark" style="color: white; margin-top: 2px; "></i>
        </div>

    <div class="buttons">
      <button href="#" class="top_btn" id="search_input" onclick="show()">
        ...
      </button>
      <ul class="hide_bar" id="search_history">
        <li><a href="" onclick="next(event)">수정</a></li>
        <li>삭제</li>
      </ul>
    </div>

    <div class="bigcontainer">
      <!-- 본문 -->
      <div class="container">
        <h1 class="tittle">Channel 이 공개한 22/23 Cruze Collaction</h1>
      </div>

      <div class="photo">
        <div class="image">
          <img src="/static/css/다운로드.jpeg" alt="" class="image1" />
        </div>
      </div>

      <div class="text">
        <div class="text12">
          <p class="text123">
            믜에에에에에에에엥믜에에에에에에에엥믜에에에에에에에엥믜에에에에에에에엥믜에에에에에에에엥
            믜에에에에에에에엥믜에에에에에에에엥믜에에에에에에에엥믜에에에에에에에엥믜에에에에에에에엥믜에에에에에에에엥
            믜에에에에에에에엥믜에에에에에에에엥믜에에에에에에에엥믜에에에에에에에엥믜에에에에에에에엥믜에에에에에에에엥
            믜에에에에에에에엥믜에에에에에에에엥믜에에에에에에에엥믜에에에에에에에엥믜에에에에에에에엥믜에에에에에에에엥
            믜에에에에에에에엥믜에에에에에에에엥믜에에에에에에에엥믜에에에에에에에엥
          </p>
        </div>
      </div>

      <!-- 댓글 -->
      <div class="comment_input">
        <input
          type="text"
          class="comment_input1"
          placeholder="댓글을 입력하세요..."
          id="comment_input1"
        />
        <button
          class="comment_input_btn"
          onclick="writecomment(event);getfire()"
        >
          등록
        </button>

        <!-- 홈페이지가 새로고침 또는 랜딩이 될떄마다 뿌려주는 함수는 getfire이다 팀원들이 뿌려주는 먼가를만들면 거기에 넣어주기만하면됨 -->
        <!-- <button onclick="getfire()">뻐른</button> -->
      </div>

      <div class="comment_list" id="comment_list">
        <div class="comment_box" id="comment_box">
          <div class="comment">
            <img src="/static/css/다운로드.jpeg" alt="" class="comment_img" />
            <p class="commentname">픠에엥</p>
            <div>
              <p class="comment_text" id="comment_text">amldpdpdpdp</p>
              <div class="comment_input_container" style="display: flex">
                <input
                  type="text"
                  class="comment_input_inside"
                  id="comment_input"
                />
                <button
                  id="comment_save"
                  class="comment_save"
                  onclick="comment_save()"
                >
                  버른
                </button>
              </div>
            </div>
          </div>

          <div class="heart-btn">
            <div class="content">
              <span class="heart"></span>
              <span class="tex"></span>
              <span class="numb"></span>
            </div>
          </div>

          <div class="buttons1">
            <button
              href="#"
              class="top_btn1"
              id="search_input1"
              onclick="show1()"
            >
              ...
            </button>
            <ul class="hide_bar1" id="search_history1">
              <li
                class="comment_modify"
                id="comment_modify"
                onclick="comment_modifyed()"
              >
                수정
              </li>
              <li
                class="comment_modify"
                id="comment_delete"
                onclick="comment_delete()"
              >
                삭제
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <script src="/static/js/pages/board.js" type="module"></script>
</body>
</html> -->
