<div class="wrap_box">
    <div class="img_area">
      <img src="/img/test.jfif" alt="img_area" />
    </div>
    <div class="write">
      <div class="txt_area">
        <ul>
          <h4>title</h4>
          <span
            ><p>모나코 몬테가를로 비치 호텔에서 펼쳐진 크루즈쇼</p></span
          >
        </ul>
        <div class="date">
          <span>YYYY년 MM월 DD일</span>
          <span>* 12개의 댓글</span>
        </div>
        <div class="author_index">
          <img src="" alt="autor_index" />
          <p>by Jin9606</p>
          <div class="like">
            <img src="#" alt="like" />
            <p>250</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
</body>
</html>
