<div class="fashion_b">
  <div class="glass">
    <div class="wrap_h">
      <header class="category" id="category">
        <h3>패션</h3>
        <button type="button" class="bt_new">
          <a href="#wt_board" class="board_w">새글작성</a>
        </button>
      </header>
      <nav class="write_switch">
        <div class="btn_switch">
          <!-- <div class="clock" id="clock">
          <img src="/static/img/clock.png" alt="clock" />
          <a href="#recent" onclick="route(recent)">최신글</a>
        </div>
        <div class="fire" id="fire">
          <img src="/static/img/flame.png" alt="fire" />
          <a href="#pop" onclick="route(pop)">인기글</a>
        </div> -->
        </div>
      </nav>
    </div>
    <main class="wrap_list" id="wrap_list"></main>
  </div>
</div>
