<div class="food_b">
  <div class="glass">
    <header class="category" id="category">
      <h3>푸드</h3>
      <button type="button" class="bt_new">
        <a href="#wt_board" class="board_w">새글작성</a>
      </button>
    </header>
    <nav class="write_switch">
      <div class="btn_switch">
        <!-- <div onclick="recent(event)" class="clock">
          <img src="/static/img/clock.png" alt="clock" />
          <p>최신글</p>
        </div>
        <div onclick="pop(event)" class="fire">
          <img src="/static/img/flame.png" alt="fire" />
          <p>인기글</p>
        </div> -->
      </div>
    </nav>
    <main class="wrap_list">
      <div class="wrap_box">
        <a href="#board" class="board_w">
          <div class="img_area">
            <img src="/static/img/img2.png" alt="img_area" />
          </div>
          <div class="write">
            <div class="txt_area">
              <ul>
                <h4>title : 샤넬이 공개한 2022/23 크루즈 컬렉션</h4>
                <span>
                  <p>모나코 몬테가를로 비치 호텔에서 펼쳐진 크루즈쇼</p>
                </span>
              </ul>
              <div class="date">
                <span>YYYY년 MM월 DD일</span>
                <!-- <span>* 12개의 댓글</span> -->
              </div>
              <div class="author_index">
                <img src="/static/img/user.jpg" alt="autor_index" />
                <span>by Jin9606</span>
                <!-- <div class="like">
                <img src="/img/heart.png" alt="like" />
                <span>250</span>
              </div> -->
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="wrap_box">
        <a href="#board" class="board_w">
          <div class="img_area">
            <img src="/static/img/img2.png" alt="img_area" />
          </div>
          <div class="write">
            <div class="txt_area">
              <ul>
                <h4>title : 샤넬이 공개한 2022/23 크루즈 컬렉션</h4>
                <span>
                  <p>모나코 몬테가를로 비치 호텔에서 펼쳐진 크루즈쇼</p>
                </span>
              </ul>
              <div class="date">
                <span>YYYY년 MM월 DD일</span>
                <!-- <span>* 12개의 댓글</span> -->
              </div>
              <div class="author_index">
                <img src="/static/img/user.jpg" alt="autor_index" />
                <span>by Jin9606</span>
                <!-- <div class="like">
                <img src="/img/heart.png" alt="like" />
                <span>250</span>
              </div> -->
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="wrap_box">
        <a href="#board" class="board_w">
          <div class="img_area">
            <img src="/static/img/img2.png" alt="img_area" />
          </div>
          <div class="write">
            <div class="txt_area">
              <ul>
                <h4>title : 샤넬이 공개한 2022/23 크루즈 컬렉션</h4>
                <span>
                  <p>모나코 몬테가를로 비치 호텔에서 펼쳐진 크루즈쇼</p>
                </span>
              </ul>
              <div class="date">
                <span>YYYY년 MM월 DD일</span>
                <!-- <span>* 12개의 댓글</span> -->
              </div>
              <div class="author_index">
                <img src="/static/img/user.jpg" alt="autor_index" />
                <span>by Jin9606</span>
                <!-- <div class="like">
                <img src="/img/heart.png" alt="like" />
                <span>250</span>
              </div> -->
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="wrap_box">
        <a href="#board" class="board_w" ></a>
        <div class="img_area">
          <img src="/static/img/img2.png" alt="img_area" />
        </div>
        <div class="write">
          <div class="txt_area">
            <ul>
              <h4>title : 샤넬이 공개한 2022/23 크루즈 컬렉션</h4>
              <span>
                <p>모나코 몬테가를로 비치 호텔에서 펼쳐진 크루즈쇼</p>
              </span>
            </ul>
            <div class="date">
              <span>YYYY년 MM월 DD일</span>
              <!-- <span>* 12개의 댓글</span> -->
            </div>
            <div class="author_index">
              <img src="/static/img/user.jpg" alt="autor_index" />
              <span>by Jin9606</span>
              <!-- <div class="like">
                <img src="/img/heart.png" alt="like" />
                <span>250</span>
              </div> -->
            </div>
          </div>
        </div>
      </a>
      </div>
      <div class="wrap_box">
        <a href="#board" class="board_w" >
        <div class="img_area">
          <img src="/static/img/img2.png" alt="img_area" />
        </div>
        <div class="write">
          <div class="txt_area">
            <ul>
              <h4>title : 샤넬이 공개한 2022/23 크루즈 컬렉션</h4>
              <span>
                <p>모나코 몬테가를로 비치 호텔에서 펼쳐진 크루즈쇼</p>
              </span>
            </ul>
            <div class="date">
              <span>YYYY년 MM월 DD일</span>
              <!-- <span>* 12개의 댓글</span> -->
            </div>
            <div class="author_index">
              <img src="/static/img/user.jpg" alt="autor_index" />
              <span>by Jin9606</span>
              <!-- <div class="like">
                <img src="/img/heart.png" alt="like" />
                <span>250</span>
              </div> -->
            </div>
          </div>
        </div>
        </a>
      </div>
      <div class="wrap_box">
        <a href="#board" class="board_w" >
        <div class="img_area">
          <img src="/static/img/img2.png" alt="img_area" />
        </div>
        <div class="write">
          <div class="txt_area">
            <ul>
              <h4>title : 샤넬이 공개한 2022/23 크루즈 컬렉션</h4>
              <span>
                <p>모나코 몬테가를로 비치 호텔에서 펼쳐진 크루즈쇼</p>
              </span>
            </ul>
            <div class="date">
              <span>YYYY년 MM월 DD일</span>
              <!-- <span>* 12개의 댓글</span> -->
            </div>
            <div class="author_index">
              <img src="/static/img/user.jpg" alt="autor_index" />
              <span>by Jin9606</span>
              <!-- <div class="like">
                <img src="/img/heart.png" alt="like" />
                <span>250</span>
              </div> -->
            </div>
          </div>
        </div>
      </a>
      </div>
      <div class="wrap_box">
        <a href="#board" class="board_w" >
        <div class="img_area">
          <img src="/static/img/img2.png" alt="img_area" />
        </div>
        <div class="write">
          <div class="txt_area">
            <ul>
              <h4>title : 샤넬이 공개한 2022/23 크루즈 컬렉션</h4>
              <span>
                <p>모나코 몬테가를로 비치 호텔에서 펼쳐진 크루즈쇼</p>
              </span>
            </ul>
            <div class="date">
              <span>YYYY년 MM월 DD일</span>
              <!-- <span>* 12개의 댓글</span> -->
            </div>
            <div class="author_index">
              <img src="/static/img/user.jpg" alt="autor_index" />
              <span>by Jin9606</span>
              <!-- <div class="like">
                <img src="/img/heart.png" alt="like" />
                <span>250</span>
              </div> -->
            </div>
          </div>
        </div>
        </a>
      </div>
      <div class="wrap_box">
        <a href="#board" class="board_w" >
        <div class="img_area">
          <img src="/static/img/img2.png" alt="img_area" />
        </div>
        <div class="write">
          <div class="txt_area">
            <ul>
              <h4>title : 샤넬이 공개한 2022/23 크루즈 컬렉션</h4>
              <span>
                <p>모나코 몬테가를로 비치 호텔에서 펼쳐진 크루즈쇼</p>
              </span>
            </ul>
            <div class="date">
              <span>YYYY년 MM월 DD일</span>
              <!-- <span>* 12개의 댓글</span> -->
            </div>
            <div class="author_index">
              <img src="/static/img/user.jpg" alt="autor_index" />
              <span>by Jin9606</span>
              <!-- <div class="like">
                <img src="/img/heart.png" alt="like" />
                <span>250</span>
              </div> -->
            </div>
          </div>
        </div>
        </a>
      </div>
      <div class="wrap_box">
        <a href="#board" class="board_w" >
        <div class="img_area">
          <img src="/static/img/img2.png" alt="img_area" />
        </div>
        <div class="write">
          <div class="txt_area">
            <ul>
              <h4>title : 샤넬이 공개한 2022/23 크루즈 컬렉션</h4>
              <span>
                <p>모나코 몬테가를로 비치 호텔에서 펼쳐진 크루즈쇼</p>
              </span>
            </ul>
            <div class="date">
              <span>YYYY년 MM월 DD일</span>
              <!-- <span>* 12개의 댓글</span> -->
            </div>
            <div class="author_index">
              <img src="/static/img/user.jpg" alt="autor_index" />
              <span>by Jin9606</span>
              <!-- <div class="like">
                <img src="/img/heart.png" alt="like" />
                <span>250</span>
              </div> -->
            </div>
          </div>
        </div>
        </a>
      </div>
      <div class="wrap_box">
        <a href="#board" class="board_w" >
        <div class="img_area">
          <img src="/static/img/img2.png" alt="img_area" />
        </div>
        <div class="write">
          <div class="txt_area">
            <ul>
              <h4>title : 샤넬이 공개한 2022/23 크루즈 컬렉션</h4>
              <span>
                <p>모나코 몬테가를로 비치 호텔에서 펼쳐진 크루즈쇼</p>
              </span>
            </ul>
            <div class="date">
              <span>YYYY년 MM월 DD일</span>
              <!-- <span>* 12개의 댓글</span> -->
            </div>
            <div class="author_index">
              <img src="/img/user.jpg" alt="autor_index" />
              <span>by Jin9606</span>
              <!-- <div class="like">
                <img src="/img/heart.png" alt="like" />
                <span>250</span>
              </div> -->
            </div>
          </div>
        </div>
        </a>
      </div>
      <div class="wrap_box">
        <a href="#board" class="board_w" >
        <div class="img_area">
          <img src="/static/img/img2.png" alt="img_area" />
        </div>
        <div class="write">
          <div class="txt_area">
            <ul>
              <h4>title : 샤넬이 공개한 2022/23 크루즈 컬렉션</h4>
              <span>
                <p>모나코 몬테가를로 비치 호텔에서 펼쳐진 크루즈쇼</p>
              </span>
            </ul>
            <div class="date">
              <span>YYYY년 MM월 DD일</span>
              <!-- <span>* 12개의 댓글</span> -->
            </div>
            <div class="author_index">
              <img src="/static/img/user.jpg" alt="autor_index" />
              <span>by Jin9606</span>
              <!-- <div class="like">
                <img src="/img/heart.png" alt="like" />
                <span>250</span>
              </div> -->
            </div>
          </div>
        </div>
        </a>
      </div>
      <div class="wrap_box">
        <a href="#board" class="board_w" >
        <div class="img_area">
          <img src="/static/img/img2.png" alt="img_area" />
        </div>
        <div class="write">
          <div class="txt_area">
            <ul>
              <h4>title : 샤넬이 공개한 2022/23 크루즈 컬렉션</h4>
              <span>
                <p>모나코 몬테가를로 비치 호텔에서 펼쳐진 크루즈쇼</p>
              </span>
            </ul>
            <div class="date">
              <span>YYYY년 MM월 DD일</span>
              <!-- <span>* 12개의 댓글</span> -->
            </div>
            <div class="author_index">
              <img src="/static/img/user.jpg" alt="autor_index" />
              <span>by Jin9606</span>
              <!-- <div class="like">
                <img src="/img/heart.png" alt="like" />
                <span>250</span>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>