<div class="background">
    <div class="box">
        <div class="profile_area">
            <div class="profile_box">
                <div class="profile">
                    <img id="profileImg" src="/static/img/empty_profile.png" alt="profile_img">
                    <div class="profile_info">
                        <span id="nickname" class="name">이름</span>
                    </div>

                </div>
                <div class="profile_setting">
                    <a class="setting" href="#setting"><i class="fa-solid fa-gear">설정하기</i></a>
                </div>
            </div>
            <div class="underline">
            </div>
        </div>
        <div class="tab_area">
            <div class="tab_btn">
                <a id="mypost" class="mypost" href="#mypage">내가 쓴 글</a>
                <a id="like" class="mypost active" href="#like">좋아요 한 글</a>
                <a id="scrap" class="mypost" href="#scrap">저장 한 글</a>
                <div class="tab_underline" style="left : 33.3%;"></div>
            </div>
        </div>
    </div>
    <div id="iWrotePost" class="mypage_wrap_list">
    
    </div>
</div>