<div class="wrap">
  <div class="top_text">
    <h1 class="first_text"></h1>
  </div>
  <div class="flicker">
    <h1 class="light">H<span class="offset">y</span>pe</h1>
  </div>
  <div class="slide">
    <span class="draft">익스프레스</span>
  </div>
  <div class="last_text">
    <span class="lastTxt">ようこそ</span>
    <span class="lastTxt">hoan nghênh</span>
    <span class="lastTxt">тавтай морил</span>
    <span class="lastTxt">Bienvenue</span>
    <span class="lastTxt"> 欢迎</span>
    <span class="lastTxt">Welcome</span>
  </div>
</div>
