<div class="background">
    <div class="box_profile">
        <div class="profile_setting_box">
            <form id="profile_form" onsubmit="changeProfile(event)">
                <div class="back_button">
                    <a href="#mypage"><i class="fa-solid fa-angle-left"></i></a>
                </div>
                <div class="profile_img_area">
                    <img id="profileView" src="/static/img/empty_profile.png" alt="profile">
                </div>
                <div class="profile_img_btn">
                    <div class="img_btn_wrap">
                        <button type="button" id="upload_btn" class="img_upload" onclick="upload_img()" style="display: block;">이미지 업로드</button>
                        <button type="button" class="img_remove">이미지 제거</button>
                    </div>
                    <!-- <input id="profileBtn" class= "img_save" type="submit" value="프로필 변경" /> -->
                </div>
                <input onchange="onFileChange(event)" type="file" id="imgUpload" accept="img/*" style="display: none;">
                <div class="profile_info_area">
                    <div id="info" class="info" style="visibility: hidden;">
                        <div id="username" class="username">이름</div>
                        <!-- <p id="userintroduce">소개가 들어갑니다.</p> -->
                        <div class="modify_button">
                            <button type="button" id="modify_btn" class="modify" onclick="mod()">수정</button>
                        </div>
                    </div>
                    <div id="modify" class="profile_modify" style="visibility: visible;">
                        <input placeholder="닉네임" id="urnameinput" class="profile_text display_name" value="" />
                        <!-- <input placeholder="소개" id="urintroduceinput" class="profile_text info" value="" /> -->
                        <!-- <div class="save_button">
                            <button type="button" id="save_btn" class="save" type="button" onclick="save()">저장</button> -->
                        <input id="profileBtn" class="img_save" type="submit" value="프로필 변경" />
                        </div>
                    </div>
                
                </div>
            </form>
        </div>
    </div>
</div>