<!-- 에디터 / 인풋(제목인풋) border bottom 밑줄 / 문단인풋
새글작성 / 취소 /이미지첨부 -->

<!DOCTYPE html>
<html lang="ko">
<head>
  <title>Board</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="board.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="board.js"></script>
  <!-- 서머노트를 위해 추가해야할 부분 -->
  <script src="./summernote-lite.js"></script>
  <script src="./summernote-ko-KR.js"></script>
  <link rel="stylesheet" href="./summernote-lite.css">
  
</head>
  <body>

    <div class="warp">

      <div class="buttons">
        <button class="cancle">취소</button>
        <button class="posting">포스팅하기</button>
      </div>

      <div class="a">
        <input type="text" class="inputtag" placeholder="제목을입력하세요">
        <div class="container">
          <textarea class="summernote" name="editordata" style="height: 600px;"></textarea>    
        </div>
      </div>

    </div>

  <script>
  $('.summernote').summernote({
      height: 650,
      lang: "ko-KR"
    });
  </script>
  </body>
</html>