<div class="wt_wrap">
    <div class="wt_buttons">
      <button>취소</button>
      <button onclick="save_board(event)">등록</button>
    </div>
    <div class="wt_innerwrap">
      <div class="wt_input_container">
        <input
          id="wt_title"
          type="text"
          placeholder="제목을 입력해주세요..."
          class="wt_input"
        />
        <textarea
          name="myeditor"
          id="myeditor"
          placeholder="Product Details"
          class="form-control"
          rows="12"
          cols="50"
        ></textarea>
      </div>
    </div>
  </div>