<div id="wt_background" class="wt_wrap" style="background-color: rgb(0 0 0);">
  <div class="wt_glass">
    <form id="thumbnail_form" onsubmit="changeThumbnail(event)">
      <div class="wt_innerwrap">
        <div class="wt_input_container">
          <input id="wt_title" type="text" placeholder="Title" class="wt_input" />
          <textarea name="myeditor" id="myeditor" placeholder="Product Details" class="form-control" rows="12"
            cols="50"></textarea>
        </div>
      </div>
      <label id="thumbnail_label">
        <img id="thumbnail_img" class="thumbnail_img" src="/static/img/upload_thumbnail.png" alt="thumbnail" />
        <input onchange="onThumbnailChange(event)" type="file" id="thumbnail_input" accept="images/*" style="display: none;"/>
      </label>
      <div class="wt_buttons">
        <a href="#t_wt_board" id="back_categori" class="cancel" onclick="cancel()">취소</a>
        <button id="geul_upload">등록</button>
      </div>
    </form>
  </div>
</div> 