/* 이미지&글정보 */
.wrap_box {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  width: 100%;
  margin: 1rem;
  padding-left: 8em;
}
.img_area {
  display: block;
  width: 100%;
  height: 100%;
}
.txt_area {
  display: flex;
  flex: 1 1 0%;
  flex-direction: column;
  padding: 1rem;
}
.txt_area ul {
  display: block;
}
.txt_area ul h4 {
  font-size: 2rem;
  margin: 1rem 0.5rem 1rem 0;
}
.txt_area ul span p {
  font-size: 1rem;
  margin: 1rem 0.5rem 1rem 0;
}
.date {
  margin: 4rem 1rem 1rem 0;
}

.author_index {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  line-height: 1.5rem;
}
.author_index img {
  width: 1.5rem;
  height: 1.5rem;
  display: block;
  border-radius: 50%;
  margin-right: 0.5rem;
}
.like {
  display: flex;
  justify-content: center;
  align-items: center;
}
