@font-face {
  font-family: "SLEIGothicTTF";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/SLEIGothicTTF.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background-color: black;
  font-family: "SLEIGothicTTF";

  overflow-y: hidden;
}
/* #sign_in {
  display: none;
} */
/* 내비바 */
.navBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: black;

  height: 4rem;

  box-sizing: border-box;
}

.logo {
  height: 4rem;
  width: 8rem;

  padding: 1rem 1.5rem;
  margin-top: 1.5rem;
}

.nav_menu {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;

  padding-top: 2rem;
  box-sizing: border-box;
}

.nav_lis {
  display: flex;
  flex-direction: row;
  position: relative;
}

.nav_btns {
  display: flex;
  flex-direction: row;

  float: right;
  margin-right: 5rem;
}

.nav_item {
  padding: 1rem 1.5rem 1rem 1rem;

  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;

  width: 8rem;
  height: 1.6rem;
}

.nav_button {
  display: flex;
  justify-content: end;
  align-items: center;

  width: 8rem;

  margin: 0 0.5rem 0 0.5rem;
}

.nav_btn {
  font-size: 1.3rem;
  font-weight: 600;
  color: black;
}

.nav_btn:hover {
  color: #fff;
  background-color: black;

  border: 2px solid white;
}

.nav_item:hover {
  height: 0.7rem;
  margin-top: 0.9rem;
}

.Fs {
  background-color: rgb(253, 246, 237);
}

.Fd {
  background-color: rgb(237, 191, 213);
}

.Tr {
  background-color: rgb(237, 122, 59);
}

.Sp {
  background-color: rgb(250, 255, 93);
}

.Em {
  background-color: rgb(79, 158, 247);
  font-size: 1.5rem;
}

.Mp {
  background-color: rgb(89, 100, 217);
  visibility: hidden;
}

.nav_link {
  font-size: 1.3rem;
  font-weight: 600;
  color: black;

  display: block;
}

/* nav바 반응형 */
@media (max-width: 1120px) {
  .Down_nav {
    background-color: green;
    color: #fff;
    margin-top: -95px;

    display: flex;
    justify-content: center;

    position: absolute;
    right: 0;

    font-size: 2.5rem;
    padding: 1rem 1.5rem 2rem 1rem;

    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;

    width: 8rem;
    height: 1.6rem;

    cursor: pointer;
  }

  .Menu {
    background-color: green;
    color: #fff;
    display: flex;
    justify-content: center;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
    font-size: 2.5rem;
    padding: 1rem 1.5rem 2rem 1rem;

    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;

    width: 8rem;
    height: 1.6rem;

    cursor: pointer;
  }

  .nav_menu {
    display: fixed;
    flex-direction: column;
    justify-content: flex-end;
    position: absolute;

    bottom: 0;
    width: 100%;
    background-color: green;

    margin-bottom: -50rem;
    transition: 0.5s;

    z-index: 9;
  }
  .nav_lis {
    flex-direction: column;

    width: 100%;
  }

  .nav_item {
    padding: 1rem 1.5rem 1rem 1rem;
    justify-content: center;
    align-items: center;
    background-color: green;
    border-bottom: 3px dashed white;
    border-radius: 0;

    width: 100%;
    height: 3rem;
  }

  .nav_link {
    font-size: 3rem;
    font-weight: 600;
    color: black;

    display: block;
  }

  .nav_item:hover {
    height: 100%;
    margin-top: 0;

    cursor: pointer;
  }

  .nav_btn {
    font-size: 1.3rem;
    font-weight: 600;
    color: black;

    margin: 30px 0 30px 0;
  }

  .nav_btn:hover {
    color: #fff;
    background-color: black;

    border: 2px solid white;
  }
}

/* 바디 타이핑효과 */
.top_text {
  height: 110px;
}

.first_text {
  color: white;
  font-size: 2.5rem;
  font-weight: 100;

  margin-left: 6rem;
  margin-top: 6rem;

  letter-spacing: 0.3rem;
}

/* 네온사인 플리커 */
.flicker {
  margin-top: 2.5rem;
  margin-left: 10rem;

  color: #fff;
  font-weight: bold;
  font-size: 20rem;
  font-weight: 600;
  line-height: 0.75;
  letter-spacing: 2rem;

  opacity: 0;
  animation: text-flicker 5s linear infinite;
}

.offset {
  animation: letter-flicker 3s linear infinite;
}

@keyframes text-flicker {
  0% {
    opacity: 0.1;
    text-shadow: 0px 0px 22px gray;
  }
  2% {
    opacity: 1;
    text-shadow: 0px 0px 22px gray;
  }
  6% {
    opacity: 0.1;
    text-shadow: 0px 0px 22px gray;
  }
  8% {
    opacity: 0.1;
    text-shadow: 0px 0px 22px gray;
  }
  9% {
    opacity: 1;
    text-shadow: 0px 0px 22px gray;
  }
  12% {
    opacity: 0.1;
    text-shadow: 0px 0px 22px gray;
  }
  20% {
    opacity: 1;
    text-shadow: 0px 0px 22px gray;
  }
  100% {
    opacity: 0.9;
    text-shadow: 0px 0px 22px gray;
  }
}

@keyframes letter-flicker {
  0% {
    opacity: 0.1;
    text-shadow: 0px 0px 22px gray;
  }
  2% {
    opacity: 0.1;
    text-shadow: 0px 0px 22px gray;
  }
  4% {
    opacity: 1;
    text-shadow: 0px 0px 22px gray;
  }
  19% {
    opacity: 1;
    text-shadow: 0px 0px 22px gray;
  }
  21% {
    opacity: 0.1;
    text-shadow: 0px 0px 22px gray;
  }
  23% {
    opacity: 1;
    text-shadow: 0px 0px 22px gray;
  }
  80% {
    opacity: 1;
    text-shadow: 0px 0px 22px gray;
  }
  83% {
    opacity: 0.4;
    text-shadow: 0px 0px 22px gray;
  }
  87% {
    opacity: 1;
    text-shadow: 0px 0px 22px gray;
  }
}

/* express 슬라이드 */
.slide {
  position: relative;

  float: right;
  margin-right: 5rem;

  font-size: 20rem;
  font-weight: 600;
  color: rgb(106, 106, 106);
  letter-spacing: 1rem;

  animation: fadeInRight 1s;
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}
