@font-face {
  font-family: "SLEIGothicTTF";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/SLEIGothicTTF.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "SLEIGothicTTF";
}

/* html background */
.fashion_b {
  position: relative;
  background: rgb(253, 246, 237);
  height: 100rem;
  padding-top: 1px;
  margin-top: 12px;
  margin-left: 176px;
}
.food_b {
  position: relative;
  background: rgb(237, 191, 213);
  height: 100rem;
  padding-top: 1px;
  margin-top: 12px;
  margin-left: 176px;
}

.tarvel_b {
  position: relative;
  background: rgb(237, 122, 59);
  height: 100rem;
  padding-top: 1px;
  margin-top: 12px;
  margin-left: 176px;
}
.sports_b {
  position: relative;
  background: rgb(250, 255, 93);
  height: 100rem;
  padding-top: 1px;
  margin-top: 12px;
  margin-left: 176px;
}
.ent_b {
  position: relative;
  background: rgb(79, 158, 247);
  height: 100rem;
  padding-top: 1px;
  margin-top: 12px;
  margin-left: 176px;
}

/* glassmorphism */
.glass {
  width: 95%;
  height: 65rem;
  position: absolute;
  margin: 3%;
  padding-bottom: 5%;
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  overflow-y: scroll;
}

/* 768 */
@media (max-width: 768px) {
  .glass {
  }
}

/* 카테고리&새글작성버튼 */
/* .wrap_h {
  position: fixed;
  height : 100%
} */
.category {
  margin-top: 3em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.category h3 {
  width: 12%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
  padding-left: 1em;
}
.category .bt_new {
  width: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 2rem 2rem 1rem;
  padding: 1em;
  background-color: black;
  color: #fff;
  border-radius: 50px;
  font-size: 1em;
  font-weight: bold;
}

/* 768 */
@media screen and (max-width: 768px) {
  .category .bt_new {
    width: 18%;
    height: 7vh;
    font-size: 2rem;
  }
}

/* 최신글&인기글 */
.write_switch {
  display: flex;
  justify-content: left;
  align-items: center;
  position: relative;
}
.btn_switch {
  display: flex;
  justify-content: left;
  flex-direction: row; /*수평 정렬*/
  align-items: center;
  width: 500px;
  height: 10%;
  margin: 2em 0 2em 6.5em;
  text-align: center;
}
.clock {
  width: 30%;
  display: flex;
  align-items: center;
  margin: 0 5% 0 0%;
}
.fire {
  width: 30%;
  display: flex;
  align-items: center;
  margin: 0 5% 0 0%;
}
.btn_switch img {
  display: flex;
  align-items: center;
  width: 2rem;
  height: 2rem;
}
.btn_switch a {
  width: 5rem;
  height: 2rem;
  text-align: center;
  font-size: 1.5rem;
  color: black;
}
