@font-face {
  font-family: "SLEIGothicTTF";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/SLEIGothicTTF.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

/* 카테고리&새글작성버튼 */
.category {
  margin-top: 3em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.category h3 {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
  padding-left: 1em;
}
.category .bt_new {
  width: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 2rem 2rem 1rem;
  padding: 1em;
  background-color: black;
  color: #fff;
  border-radius: 50px;
  font-size: 1em;
  font-weight: bold;
}

/* 최신글&인기글 */
.write_switch {
  display: flex;
  justify-content: left;
  align-items: center;
  position: relative;
  background-color: aliceblue;
}
.btn_switch {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 100%;
  height: 10%;
  margin: 2em 0 2em 6.5em;
}
.btn_switch a {
  width: 7rem;
  align-items: center;
}
.btn_switch a img {
  width: 2rem;
  height: 2rem;
  padding-right: 1rem;
}
.btn_switch > span {
  font-size: 1rem;
}
