@font-face {
  font-family: "SLEIGothicTTF";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/SLEIGothicTTF.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "SLEIGothicTTF";
}

/* html background */
.fashion_b {
  background: rgb(253, 246, 237);
  height: 100vh;
  width: 108rem;
  padding-top: 1px;
  margin-top: 13px;
  margin-left: 192px;
  overflow: scroll;
}
.food_b {
  background: rgb(237, 191, 213);
  height: 100vh;
  width: 108rem;
  padding-top: 1px;
  margin-top: 13px;
  margin-left: 192px;
  overflow: scroll;
}

.tarvel_b {
  background: rgb(237, 122, 59);
  height: 100vh;
  width: 108rem;
  padding-top: 1px;
  margin-top: 13px;
  margin-left: 192px;
  overflow: scroll;
}
.sports_b {
  background: rgb(250, 255, 93);
  height: 100vh;
  width: 108rem;
  padding-top: 1px;
  margin-top: 13px;
  margin-left: 192px;
  overflow: scroll;
}
.ent_b {
  background: rgb(79, 158, 247);
  height: 100vh;
  width: 108rem;
  padding-top: 1px;
  margin-top: 13px;
  margin-left: 192px;
  overflow: scroll;
}

/* 카테고리&새글작성버튼 */
.category {
  margin-top: 3em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.category h3 {
  width: 12%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
  padding-left: 1em;
}
.category .bt_new {
  width: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 2rem 2rem 1rem;
  padding: 1em;
  background-color: black;
  color: #fff;
  border-radius: 50px;
  font-size: 1em;
  font-weight: bold;
}

/* 최신글&인기글 */
.write_switch {
  display: flex;
  justify-content: left;
  align-items: center;
  position: relative;
}
.btn_switch {
  display: flex;
  justify-content: left;
  flex-direction: row; /*수평 정렬*/
  align-items: center;
  width: 500px;
  height: 10%;
  margin: 2em 0 2em 6.5em;
}
.clock {
  width: 30%;
  display: flex;
  align-items: center;
  text-align: center;
}
.fire {
  width: 30%;
  display: flex;
  align-items: center;
}
.btn_switch img {
  display: flex;
  align-items: center;
  width: 2rem;
  height: 2rem;
}
.btn_switch p {
  width: 5rem;
  height: 2rem;
  text-align: center;
  font-size: 1.5rem;
}
